
*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('../fonts/Nunito_Sans.woff'),
        url('../fonts/Nunito_Sans.ttf');
}

@font-face {
    font-family: "Yeseva One";
    src: url('../fonts/Yeseva_One.woff'),
        url('../fonts/Yeseva_One.ttf');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    background: #131313;
}

@media screen and (max-width: 1300px) {
    header {
        height: 51px;
    }
}

.header_text {
    max-width: 1258px;
    font-family: 'Nunito Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 22px;
}

@media screen and (max-width: 1300px) {
    .header_text {
        max-width: 308px;
        margin: 0 auto;
    }
}

.header_text a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 47.09px;
    transition: .2s;
}

.header_text a:hover {
    color: #E3B873;
}

.header_text a:nth-of-type(-n+7) {
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .header_text a:nth-of-type(n+2):nth-of-type(-n+7) {
        display: none;
    }
}

.header_text a:first-of-type {
    margin-right: 95.47px;
}

@media screen and (max-width: 1300px) {
    .header_text a:first-of-type {
        margin-right: 41px;
    }
}

.header_text a:nth-of-type(8) {
    margin-left: 67.36px;
}

@media screen and (max-width: 1300px) {
    .header_text a:nth-of-type(8) {
        margin-left: 0;
        margin-right: 0;
    }
}

.heading {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.headind h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.button {
    cursor: pointer;
    background: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 161px;
    height: 37px;
    margin-left: 45px;
    position: relative;
    bottom: 2px;
    border: 0;
}

.button_header {
    width: 161px;
    height: 37px;
    margin-left: 45px;
}

@media screen and (max-width: 1300px) {
    .button_header {
        display: none;
    }
}

.button__text {
    font-family: 'Nunito Sans';
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secion_1 {
    background: url('../images/image1.jpg');
    background-size: cover;
    position: relative;
    height: 707px;
    padding-top: 194px;

}

.secion_1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

@media screen and (max-width: 1300px) {
    .secion_1 {
        background: url('../images/image 4.7.png');
        background-size: cover;
        position: relative;
        height: 476px;
        padding-top: 194px;
    
    }
}

.secion_1__content--text {
    position: relative;
    z-index: 1;
    max-width: 1143px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .secion_1__content--text {
        margin: 0 auto;
        max-width: 296px;
        margin-top: -111px;
    }
}

.headind {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.first_heading {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-top: 0;
}

@media screen and (max-width: 1300px) {
    .first_heading {
        font-size: 23px;
        line-height: 132.83%;
    }
}

.Rostov-on-Don {
    color: #E3B873;
}

.paragraph {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    position: relative;
    bottom: 8px;
    margin-bottom: 19px;
}

.first_paragraph {
    font-size: 22px;
    line-height: 36px;
}

@media screen and (max-width: 1300px) {
    .first_paragraph {
        font-size: 22px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1300px) {
    .first_paragraph {
        font-size: 14px;
        line-height: 135.84%;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 1300px) {
    .secion_1__buttons {
        display: flex;
        flex-direction: column;
    }
}

.secion_1__b1 {
    width: 207px;
    height: 51px;
    right: 11px;
    margin-left: 13px; 
}

@media screen and (max-width: 1300px) {
    .secion_1__b1 {
        width: 298px;
        margin-left: 10px;
        margin-bottom: 26px;
    }
}

.secion_1__b2 {
    background: #fff0;
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF; 
    margin-left: 0px;
}

@media screen and (max-width: 1300px) {
    .secion_1__b2 {
        width: 298px;
        right: 11px;
        margin-left: 10px;
    }
}

.secion_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.section_2__block_1 {
    height: 1074px;
    left: -2.45px;
    top: 0px;
    background: #131313;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1 {
        height: 1527px;
    }
}

.section_2__block_1__content_container {
    max-width: 1171px;
    margin: 0 auto;
}

.section_2__block_1__content {
    display: flex;
    justify-content: center;
    max-width: 1171px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content {
        flex-direction: column;
        top: 34px;
        max-width: 1440px;
    }
}

.section_2__block_1__content__text1 {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__text1 {
        display: flex;
        flex-direction: column;
        width: 311px;
        margin: 0 auto;
    }
}

.heading_2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin-bottom: 28px;
    margin-top: 0;
}

@media screen and (max-width: 1300px) {
    .heading_2 {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        margin-top: 36px;
    }
}

.section_2__block_1__content__paragraph {
    font-size: 14px;
    line-height: 27px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__paragraph {
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
    }

    .none_br {
        display: none;
    }
}

.section_2__block_1__content__paragraph_2 {
    font-size: 14px;
    line-height: 27px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__paragraph_2 {
        font-size: 11px;
        line-height: 135.84%;
        top: 6px;
    }
}


.text1_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 355px;
}

@media screen and (max-width: 1300px) {
    .text1_blocks {
        width: 300px;
        display: flex;
        position: relative;
        top: 277px;
        margin: 0 auto;
    }

    .text1_block__relative {
        position: relative;
        right: 11px;
    }
}

.heading_3 {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-top: 20px;
    margin-bottom: 7px;
}

@media screen and (max-width: 1300px) {
    .heading_3 {
        font-size: 14px;
        line-height: 138.6%;
    }
}

.text1_blocks .text1_block:nth-of-type(4) {
    position: relative;
    right: 50px;
}

@media screen and (min-width: 1300px) {
    .mob_slider {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__image_block1 {
        display: flex;
        margin: 0 auto;
        margin-top: -168px;
        width: 298px;
        height: 211px;
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
    }

    .mobile_image1 {
        position: relative;
        z-index: 1;
        transition: 1s;
    }

    .mobile_image2 {
        position: relative;
        opacity: 0%;
        z-index: 0;
        margin-left: -298px;
        transition: 1s;
    }

    .mobile_image3 {
        position: relative;
        opacity: 0%;
        z-index: 0;
        margin-left: -298px;
        transition: 1s;
    }
}

.section_2__block_1__content__image_block1__mobile_buttons {
    display: none;
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__image_block1__mobile_buttons {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-left: -284px;
        position: relative;
        z-index: 10;
    }

    .mobile_buttons_flex {
        width: 270px;
        display: flex;
        justify-content: space-between;
    }

    .mobile_button {
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .vector_arrow {
        position: relative;
        top: 1px;
        right: 2px;
    }

    .arrow_two {
        right: 0px;
    }
}

/* Slider styles ------------------------------------------------------------------------------------------------ */

.added_link_style {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    transition: .2s;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
    margin-right: 37px;
    text-decoration: none;
}

.reset_link_style {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-right: 37px;
    text-decoration: none;
}

.round_btn {
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
}

.added_round_btn {
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
    transition: 1s;
}

/* ------------------------------------------------------------------------------------------------------------- */

.image_slider1 {
    background: url('../images/image 2.1.png');
    width: 679px;
    height: 482px;
    position: relative;
    z-index: 1;
    transition: 1.5s;
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1300px) {
    .image_slider1 {
        display: none;
    }
}

.image_slider2 {
    background: url('../images/image 2.png');
    width: 679px;
    height: 482px;
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
    margin-top: -482px;
    position: relative;
    opacity: 0%;
    z-index: 0;
    transition: 1.5s;;
}

@media screen and (max-width: 1300px) {
    .image_slider2 {
        display: none;
    }
}

.image_slider3 {
    background: url('../images/image 3.png');
    width: 679px;
    height: 482px;
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
    margin-top: -482px;
    position: relative;
    opacity: 0%;
    z-index: 0;
    transition: 1.5s;;
}

@media screen and (max-width: 1300px) {
    .image_slider3 {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .section_2__block_1__content__image_block2 {
        display: none;
    }
}

.slider_btn_block {
    max-width: 205px;
    display: flex;
    justify-content: space-between;
}

.round_btn {
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
}

.round_btn:hover {
    transition: 1s;
    background: #FFFFFF;
}

.round_btn:focus {
    transition: 1s;
    background: #FFFFFF;
}

.arrow {
    margin-bottom: -3px;
}

@media screen and (max-width: 1300px) {
    .slider_btn_block {
        display: none;
    }
}

.image_block1__link {
    display: flex;
    list-style-type: none;
    max-width: 623px;
    margin-left: 487px;
    margin-top: 107px;
    margin-bottom: 45px;
}

@media screen and (max-width: 1300px) {
    .image_block1__link {
        display: none;
    }
}

.image_block1__link a:hover {
    color: #E3B873;
    transition: .2s;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}

.section_2__block_2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -327px;
    margin-bottom: 69px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_2 {
        margin-top: -830px;
        max-width: 298px;
    }
}

.vector_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 32px;
}

.heading_4 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
}

@media screen and (max-width: 1300px) {
    .heading_4 {
        font-size: 22px;
        line-height: 138.6%;
    }
}

.vector_svg {
    display: flex;
}

.vector_svg__line {
    border-bottom: 3px solid #E3B873;
    width: 32px;
    margin-bottom: 13px;
}

.vector_svg img {
    margin-left: 9px;
    margin-right: 7px;
}

.block_2__image_group {
    max-width: 817px;
    max-height: 434px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1300px) {
    .block_2__image_group {
        max-width: 817px;
        max-height: 434px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 1300px) {
    .image_group_container__image_laptop {
        display: none;
    }

    .image_group_container {
        background-image: url('../images/image 6 mobile.png');
        width: 298px;
        height: 181px;
    }
}

.block_2__image_group__background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 439px;
    right: 1px;
    margin: 0px;
    width: 818px;
    height: 435px;
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1300px) {
    .block_2__image_group__background {
        bottom: 0;
        right: 0;
        width: 298px;
        height: 181px;
    }
}

.button__block_2__image_group {
    border-radius: 50px;
    width: 85px;
    height: 85px;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .button__block_2__image_group {
        width: 37px;
        height: 37px;
    }
}

.button__block_2__image_group img {
    position: relative;
    left: 2px;
}

@media screen and (max-width: 1300px) {
    .button__block_2__image_group img {
        left: 1px;
        top: 2px;
        width: 12px;
        height: 12px;
    }
}


.section_2__block_2__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_2__block_2__text__paragraph {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    height: 130px;
}

@media screen and (min-width: 1300px) {
    .break_mob {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .section_2__block_2__text__paragraph {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
        width: 310px;
    }
}

.section_2__block_2__text_line {
    width: 55px;
    border-bottom: 2px solid #E3B873;
    margin-top: 62px;
    margin-bottom: 34px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_2__text_line {
        margin-top: 24px;
        margin-bottom: 26px;
    }
}

.input_name {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

@media screen and (max-width: 1300px) {
    .input_name {
        color: rgba(255, 255, 255, 0.5);
    }
}

.input_field {
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    width: 231px;
}

@media screen and (max-width: 1300px) {
    .input_field {
        background-color: #fff0;
    }

    .input_field::-webkit-input-placeholder {
        color: #FFFFFF;
    }
    
    .input_field::-moz-placeholder {
        color: #FFFFFF;
    }
}

.section_2__block_2__input_box {
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

@media screen and (max-width: 1300px) {
    .section_2__block_2__input_box {
        flex-direction: column;
        margin-top: 0;
    }
}

.input_container {
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    margin-right: 58px;
}

@media screen and (max-width: 1300px) {
    .input_container {
        width: 298px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.52);
        margin-bottom: 63px;
    }
}

.button__input_box {
    width: 200px;
    height: 51px;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .button__input_box {
        width: 298px;
        height: 51px;
        margin: 0 auto;
        margin-top: 0px;
        position: relative;
        top: 71px;
    }
}

.button__input_box__text {
    position: relative;
    top: 2px;
    font-size: 13px;
}

.checkbox {
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

@media screen and (max-width: 1300px) {
    .checkbox {
        margin-top: -99px;
        margin-right: 52px;
        margin-bottom: 31px;
        width: 288px;
    }
}

.checkbox input {
    display: none; 
}

.checkbox label {
    display: inline-block;
    position: relative;
    margin-top: 14px;
    margin-right: 12px;
    width: 18px; height: 18px; 
    background: url('../images/checkbox_off.png'); 
    transition: 0.2s; 
}

.checkbox input:checked + label {
    background: url('../images/checkbox_on.png');
}

.checkbox_text1 {
    color: black;
    bottom: 2px;
    font-size: 14px;
    line-height: 163.68%;
}

@media screen and (max-width: 1300px) {
    .checkbox_text1 {
        color: white;
    }
}

.heading_5 {
    font-size: 20px;
    line-height: 28px;
    color: #181818;
}

@media screen and (max-width: 1300px) {
    .heading_5 {
        margin-top: 58px;
        font-size: 22px;
        line-height: 138.6%;
    }
}

.repair_block {
    max-width: 1236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .repair_block {
        max-width: 298px;
        flex-direction: column;
        margin-bottom: 174px;
    }
}

@media screen and (max-width: 1300px) {
    .repair_image {
        width: 298px;
        height: 320px;
    }
}

.repair_block__option {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .repair_block__option {
        height: 462px;
        margin-bottom: 59px;
    }
}

.repair_block__option__text {
    margin: 0 auto;
    max-width: 330px;
    max-height: 268px;
    width: 330vw;
    height: 268vh;
    position: relative;
    bottom: 129px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1300px) {
    .repair_block__option__text {
        margin-left: 0px;
        width: 270px;
        height: 241px;
    }
}

.repair_block__option__text p {
    position: relative;
    bottom: 10px;
    margin-top: 25px;
    margin-left: 34px;
    margin-bottom: 8px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

@media screen and (max-width: 1300px) {
    .repair_block__option__text p {
        font-size: 15px;
        line-height: 138.6%;
    }
}

.repair_block__option__text ul {
    position: relative;
    bottom: 14px;
    margin-left: 47px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

@media screen and (max-width: 1300px) {
    .repair_block__option__text ul {
        line-height: 169.8%;
        color: #959595;
    }
}

.repair_block__price {
    margin-top: -26px;
    width: 228px;
    height: 51px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

@media screen and (max-width: 1300px) {
    .repair_block__price {
        margin-top: -12px;
    }
}

.heading_price {
    font-size: 18px;
    margin-left: 22px;
}

.button__repair_block {
    width: 228px;
    height: 51px;
    margin: 0;
}

.button__repair_block__text {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px; 
}

.section_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}


.section_3__block_1__building_block {
    background-image: url('../images/building.png');
    width: 803px;
    height: 598px;
    margin: 0px;
}

.section_3__block_1__building_block__content {
    display: flex;
    margin-bottom: 85px;
}

.button__building_block {
    border: 8px solid #FFFFFF;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-right: 10px;
}

.button__building_block__text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.section_3__block_1__building_block__content__paragraph {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-top: 8px;
}

.position_p {
    position: relative;
    top: 20px;
}

.section_3__block_1 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 121px;
}

@media screen and (max-width: 1300px) {
    .section_3__block_1 {
        display: none;
    }
}

.section_3__block_1__building_block {
    display: flex;
    justify-content: flex-end;
    margin-right: 131px;
}

.section_3__block_1__building_block__content_block {
    margin-top: 64px;
    margin-right: 79px;
}

.section_3__block_1__input_block {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-top: 43px;
}

.section_3__block_1__input_block form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}

.section_3__block_1__input_block__paragraph {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.input_form_block {
    background-color: #fff0;
    color: #FFFFFF;
}

.input_form_block::-webkit-input-placeholder {
    color: #FFFFFF;
}

.input_form_block::-moz-placeholder {
    color: #FFFFFF;
}

.input_container__input_name {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.input_block__container {
    width: 413px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
    padding-bottom: 4px;
    margin-bottom: 48px;
}

.checkbox_text2 {
    font-size: 14px;
    line-height: 163.68%;
    bottom: 2px;
}

.checkbox2 {
    position: relative;
    right: 62px;
    bottom: 66px;
}

.checkbox2 input {
    display: none;
}

.checkbox2 label {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-right: 12px;
    width: 18px; height: 18px; 
    background: url('../images/checkbox_off.png'); 
    transition: 0.2s; 
}

.checkbox2 input:checked + label {
    background: url('../images/checkbox_on.png');
}

.button__input_block {
    width: 213px;
    height: 51px;
    margin-top: -59px;
    margin-left: 196px;
    margin-bottom: 56px;
    border-radius: 0;
}

.button__input_block__text {
    font-size: 13px;
}

.section_3__piggy_bank {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    margin-right: 161px;
}

.section_3__piggy_bank__paragraph {
    margin-top: 31px;
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.heading_6 {
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

@media screen and (max-width: 1300px) {
    .vector_2 {
        display: none;
    }
}

.section_3__block_2__paragraph {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-bottom: 30px;
}

@media screen and (max-width: 1300px) {
    .section_3__block_2__paragraph {
        display: none;
    }
}

.section_3__block_2__clients_block {
    display: flex;
    justify-content: space-between;
    width: 1236px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1300px) {
    .section_3__block_2__clients_block {
        display: none;
    }
}

.heading_7 {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    text-transform: none;
    margin-top: 16px;
    margin-left: 22px;
    margin-bottom: 0;
}

.client {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client__content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 20px;
}

.client_logo {
    display: flex;
    margin-bottom: 21px;
}

.client_review {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-bottom: 6px;
}

.client_block__button {
    width: 293px;
    height: 54px;
    margin: 0;
    border-radius: 0;
    position: relative;
    top: 34px;
}

.client_block__button_text {
    font-family: Yeseva One;
    font-size: 17px;
    line-height: 24px;
    padding-right: 13px;
    margin-left: 15px;
    padding-top: 25px;
    padding-bottom: 16px;
    position: relative;
    top: -6px;
}

.delimiter {
    display: inline;
    border-right: 2px solid;
    padding-top: 28px;
    padding-bottom: 10px;
    margin-right: 12px;
}

.button_vector {
    position: relative;
    top: 4px;
}

.section_3__block_2__town_block {
    background-image: url('../images/cities.jpg');
    height: 777px;
    margin-top: -350px;
    margin-bottom: -221px;
}

@media screen and (max-width: 1300px) {
    .section_3__block_2__town_block {
        display: none;
    }
}

.section_3__block_2__input_block {
    display: flex;
    flex-direction: column;
    width: 883px;
    height: 445px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 1300px) {
    .section_3__block_2__input_block {
        height: 1000px;
        width: 100vw;
        margin-top: -188px;
    }
}

.section_3__block_2__input_block form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
}

@media screen and (max-width: 1300px) {
    .section_3__block_2__input_block form {
        width: 298px;
        margin: 0 auto;
        margin-top: 22px;
    }
}

.heading_8 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}

.checkbox3 {
    margin-top: 0px;
    margin-bottom: 27px;
}

@media screen and (max-width: 1300px) {
    .checkbox3 {
        margin-top: -37px;
        margin-left: 42px;
    }
}

.checkbox3 input {
    display: none;
}

.checkbox3 label {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    width: 18px; height: 18px; 
    background: url('../images/checkbox_off.png'); 
    transition: 0.2s; 
}

.checkbox3 input:checked + label {
    background: url('../images/checkbox_on.png');
}

.checkbox_text3 {
    font-size: 14px;
    line-height: 163.68%;
    bottom: 2px;
}

.input_block__container2__block {
    display: flex;
    width: 516px;
    justify-content: space-between;
    margin-bottom: 48px;
}

@media screen and (max-width: 1300px) {
    .input_block__container2__block {
        flex-direction: column;
        width: 298px;
        margin: 0 auto;
    }
}

.input_block__container2 {
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
    padding-bottom: 4px;
}

@media screen and (max-width: 1300px) {
    .input_block__container2 {
        width: 298px;
        margin-bottom: 63px;
    }
}

.input_block__container3 {
    width: 516px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
    padding-bottom: 4px;
    margin-bottom: 46px;
}

@media screen and (max-width: 1300px) {
    .input_block__container3 {
        width: 298px;
    }
}

.button__input_block2 {
    width: 200px;
    height: 51px;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .button__input_block2 {
        width: 298px;
    }
}

.section_3__block_3 {
    background-image: url('../images/image_7.2.jpg');
    background-size: cover;
    margin-top: -954px;
    height: 953px;
}

.heading_9 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #E3B873;
}

@media screen and (max-width: 1300px) {
    .heading_9 {
        margin-top: 761px;
        font-size: 18px;
        line-height: 138.6%;
        width: 298px;
    }
}

.section_3__block_3__adress_block {
    display: flex;
    flex-direction: column;
    max-width: 925px;
    margin: 0 auto;
    align-items: center;
    margin-top: 263px;
    position: relative;
}

@media screen and (max-width: 1300px) {
    .section_3__block_3__adress_block {
        margin: 0 auto;
        z-index: 10;
        height: 0px;
    }
}

.section_3__block_3__adress_block__bakground {
    content: url('../images/Rectangle 9.2.png');
    background-size: cover;
    margin-top: -223px;
    position: relative;
}

@media screen and (max-width: 1300px) {
    .section_3__block_3__adress_block__bakground {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .desktop_map {
        display: none;
    }

    .mobile_map {
        margin-top: -452px;
    }
}

@media screen and (min-width: 1300px) {
    .mobile_map {
        display: none;
    }
}

.adress_block__link_block {
    display: flex;
    margin-bottom: 29px;
}

@media screen and (max-width: 1300px) {
    .adress_block__link_block {
        width: 132px;
        justify-content: space-between;
        margin-left: 15px;
    }
}

.adress_block__link_block img {
    margin-right: 15px;
}

@media screen and (max-width: 1300px) {
    .adress_block__link_block img {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1300px) {
    .mobile_mail_link {
        width: 39px;
        height: 39px;
    }

    .mobile_inst_link {
        width: 39px;
        height: 39px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    background: #131313;
}

.footer_text {
    max-width: 1258px;
    font-family: 'Nunito Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 22px;
}

.footer_text a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 47.09px;
    transition: .2s;
}

.footer_text a:hover {
    color: #E3B873;
}

.footer_text a:nth-of-type(-n+7) {
    text-decoration: none;
}

.footer_text a:first-of-type {
    margin-right: 95.47px;
}

.footer_text a:nth-of-type(8) {
    margin-left: 67.36px;
}

@media screen and (max-width: 1300px) {
    footer {
        height: 6px;
    }
    
    .footer_text {
        display: none;
    }
}

